.storeListItem {
  padding: 0 20px 24px;
  cursor: pointer;
}

.storeImageContainer {
  display: flex;
  border-radius: 8px;
  gap: 4px;
  overflow: hidden;
}
.storeImage {
  flex: 1;
  width: 100px;
  height: 204px;
  object-fit: cover;
  object-position: center;
}
.menuImageContainer {
  display: flex;
  flex-direction: column;
  gap: 4px;
  flex-shrink: 0;
}
.menuImage {
  width: 100px;
  height: 100px;
  object-fit: cover;
  object-position: center;
}
@media (min-width: 768px) {
  .storeImage {
    height: 244px;
  }
  .menuImage {
    width: 180px;
    height: 120px;
  }
}

.titleFlex {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 12px;
}
.storeListItem h3 {
  flex: 1;
  color: var(--black-700);
  font-size: 18px;
  font-weight: 700;
  margin: 12px 0 8px;
}
.titleFlex>span {
  font-size: 15px;
  color: var(--black-500);
}

.storeListItem .storeInfo {
  font-size: 14px;
  color: var(--black-500);
}
.storeListItem .storeInfo>span:not(:last-child)::after {
  content: ' · ';
}