.tabsWrapper {
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  scrollbar-width: none;
  white-space: nowrap;

  position: fixed;
  top: 60px;
  left: 0;
  right: 0;
  height: 40px;
  margin: 0 auto;
  z-index: 1000;
  box-sizing: border-box;
  border-bottom: 1px solid var(--border-color-light);
  background-color: #fff;
}
/* 태블릿: 768~1023px */
@media (min-width: 768px) {
  .tabsWrapper {
    max-width: 720px;
  }
}

/* 데스크탑: 1024px~ */
@media (min-width: 1024px) {
  .tabsWrapper {
    max-width: 720px;
  }
}

.tabsWrapper::-webkit-scrollbar {
  display: none;
}

.tabsContainer {
  display: inline-flex;
  gap: 4px;
  padding: 0 0;
}

.tabItem {
  width: 84px;
  padding: 10px 0 9px;
  cursor: pointer;
  position: relative;
  color: #666;
  font-size: 13px;
  text-align: center;
}

.tabItem::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 2px;
  width: 100%;
  background-color: transparent;
  transition: background-color 0.1s;
}

.active {
  color: var(--theme-color);
  font-weight: bold;
}

.active::after {
  background-color: var(--theme-color);
}