.container {
  /* padding: 20px; */
  width: 100%;
  margin: 0 auto;
  font-family: sans-serif;
}

.title {
  margin-top: 26px;
  height: 40px;
  font-size: 32px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 16px;
}

.iconWithContent {
  display: flex;
  align-items: center; /* ✅ 기존 flex-start → center */
  gap: 20px;
}

.icon {
  width: 36px;
  height: 36px;
  flex-shrink: 0; /* 아이콘 사이즈 줄어들지 않게 */
  margin-top: 0; /* ✅ 필요 없으면 제거 */
}

.gpsIcon {
  width: 30px;
  height: 30px;
  flex-shrink: 0; /* 아이콘 사이즈 줄어들지 않게 */
  margin-top: 0; /* ✅ 필요 없으면 제거 */
}

.searchBox {
  display: flex;
  align-items: center;
  border-radius: 6px;
  padding: 8px 12px;
  margin: 16px 3% 20px 3%;
  background-color: #fff;
}

.searchBox input {
  border: none;
  outline: none;
  font-size: 16px;
  width: 100%;
  margin-left: 12px;
  height: 40px;
}

.locationBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px; /* 아이콘과 텍스트 간격 */
  height: 60px;
  width: calc(100% - 6%);
  margin: 0 3% 20px 3%;
  padding: 10px;
  background-color: #ffffff;
  border: 1px solid #ddd;
  font-size: 24px;
  font-weight: bold;
  border-radius: 6px;
  cursor: pointer;
}

.addressList {
  display: flex;
  flex-direction: column;
  /* gap: 10px; */
}

.addressBox {
  /* border: 1px solid #ddd; */
  padding: 14px;
  /* border-radius: 6px; */
  background-color: #fff;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.selected {
  background-color: #CCEDFE;
}

.addressHeader {
  display: flex;
  justify-content: space-between;
}

.label {
  font-weight: bold;
  margin-bottom: 4px;
  font-size: 20px;
}

.address {
  line-height: 1.5;
  font-size: 18px;
  white-space: pre-line;
}

.wow {
  margin-top: 6px;
  font-size: 14px;
  font-weight: bold;
  color: #FFFFFF;
  background-color: #2B5C9F;
  display: inline-block;
  padding: 3px 4px;
  border-radius: 14px;
}
.wowText {
  font-size: 14px;
  font-weight: bold;
  letter-spacing: -1;
  color: #2B5C9F;
  display: inline-block;
  padding: 2px 6px;
  border-radius: 9px;
}



.editBtn {
  background: none;
  border: none;
  font-size: 14px;
  cursor: pointer;
}

.companyAdd {
  padding: 14px;
  cursor: pointer;
}

.companyAddText {
  font-size: 20px;
  font-weight: 500;
  color: #203644;
}

