.reviewContainer {
  margin-left: 50px;
  margin-right: 50px;
}

.text {
  font-size: 14px;
  color: var(--disabled-color);
}

.reviewTextarea {
  margin-top: 40px;
  margin-right: 35px;
}

.hr {
  border: none;
  height: 10px;
  background-color: var(--background-hover-color);
  margin: 20px 0;

  position: relative;
  left: 50%;
  right: 50%;
  width: 100vw;
  transform: translateX(-50%);
}

.reviewItem {
  margin-top: 15px;
}
