.container {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 12px;
}

.backBtn,
.searchBtn {
  background: none;
  border: none;
  font-size: 20px;
  cursor: pointer;
  flex-shrink: 0;
}

.searchInput {
  flex: 1;
}

.keywordHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 12px;
  margin-top: 24px;
}

.keywordHeader > button {
  color: #000000;
  background: none;
  border: none;
}

.title {
  font-weight: bold;
  font-size: 16px;
}

.subTextRight {
  font-size: 14px;
  color: #8e8e93; /* 연한 회색 느낌 */
}

.recentList {
  list-style: none;
  padding: 0 7px;
  margin: 0;
}

.recentItem {  
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 0;
  border-bottom: none;
}

.left {
  display: flex;
  align-items: center;
  gap: 8px;
}

.right {
  display: flex;
  align-items: center;
  gap: 8px;
}

.clockIcon {
  font-size: 14px;
  color: #ccc;
}

.date {
  font-size: 13px;
  color: #8e8e93;
}

.deleteBtn {
  background: none;
  border: none;
  color: #8e8e93;
  font-size: 16px;
  cursor: pointer;
}