.container {
  padding-bottom: 40px;
}

.intro {
  position: relative;
}

.introContent {
  position: absolute;
  top: 280px;
  left: 20px;
  right: 20px;
  height: 120px;
  background-color: #fff;
  margin: -60px 0 0 0;
  z-index: 500;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 12px;
  padding: 16px;
}
.introContent h1 {
  font-size: 20px;
  font-weight: 600;
  margin: 0;
}
.introContent span {
  font-size: 14px;
}

.storeInfoButton {
  display: inline-flex;
  gap: 4px;
  padding: 4px 8px;
  border-radius: 40px;
  cursor: pointer;
}
.storeInfoButton:hover {
  background-color: var(--background-hover-color);
}