:root {
    /* Global */
    --black-700: #161032;
    --theme-color: #00AFFE;

    --border-color-light: #EEE;
    --background-hover-color: #F4F4F4;

    /* Navigation Bar */
    --nav-active-color: #161032;
    --nav-inactive-color: #8E9EA6;
}