:root {
    /* Global */
    --black-700: #161032;
    --black-500: #727272;
    --black-300: #B2B2B2;
    --theme-color: #00AFFE;
    --theme-color-rgb: 0, 175, 254;
    --wow-color: #2B5C9F;

    --theme-hover-color: #009EDD;
    --border-color-light: #EEE;
    --border-color: #B2B2B2;
    --background-hover-color: rgba(0, 0, 0, 0.043) /* #F4F4F4 */;
    --background-selected-color: #CCEDFE;
    --unchecked-icon-color: #D9D9D9;

    --background-color: #F5F6F8;

    --toggle-button-color: #212B35;
    --toggle-button-background-color: #F5F6F8;

    --disabled-color: #8C8C8C;
    --background-disabled-color: #D9D9D9;

    --minus-red: #FF4D4F;

    /* Navigation Bar */
    --nav-active-color: #161032;
    --nav-inactive-color: #8E9EA6;
}