.container {
    padding: 60px 0 40px 0;
}

/* 배달/포장 버튼 헤더 고정 */
.fixed {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 6px;
    left: 0;
    right: 0;
    margin: 0 auto;
    z-index: 1200;
    pointer-events: none;
}
.fixed>* {
    pointer-events: auto;
}